//
//  Development.xcconfig
//  LearningJourney
//
//  Created by Bruno Pastre on 10/07/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH=/
BASE_URL=http:$(SLASH)/192.168.18.41:5000/api/
ENV_NAME=DEV

#include "../../../../../Pods/Target Support Files/Pods-CoreEnvironment/Pods-CoreEnvironment.debug.xcconfig"
