name: CI

on:
  push:
    branches: 
      - develop
      - main

jobs:
  test:
    runs-on: macos-11.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - name: Install dependencies
        run: brew install xcodegen
      - name: Select Xcode 12.5
        run: sudo xcode-select -s /Applications/Xcode_12.5.app
      - name: Run tests
        run:  "${GITHUB_WORKSPACE}/tools/Scripts/run_tests.sh"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
          
